*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color:rgb(54, 51, 51); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:5px solid purple;

}
#navbar-left{
    color: white;
    font-size: 20px;
    padding: 10px;
    /* border: 1px solid red; */
}
.contents-right{
    margin-right: 15px;
}
.contents-right a{
    padding: 10px;
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
}
.contents-right a:hover{
    color: purple;
}
#about:link{
    color: purple;
}
/* #home:link{
    color: purple;
} */
.middle{
    width: 100%;
    height: 70px;
    background-color:rgb(54, 51, 51); 
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
}
.middle-left p{
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
}
.middle-right{
    padding-right: 15px;
}
#email{
    padding: 5px 20px 5px 0;
}
#subscribe{
    padding:5px;
    background-color: orangered;
    color: white;
    border: none;
    
}
.main1{
    width: 750px;
    height: 70px;
}
.main1 h3{
    font-size: 15px;
    padding-left: 20px;
    margin-top: 10px;
    font-weight: bolder;
}
.main1 p{
    font-size: 13px;
    padding: 20px;

}
.main2{
    margin-left: 20px;
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 750px;
    height: auto;
    background-color:rgb(54, 51, 51);
    color: #fff; 
    padding:10px;
}
.main2 p{
    font-size: 13px;
}
.righttext{
    width: 400px;
    height:140px;
    background-color:rgb(54, 51, 51);
    color: white;
    margin-top: 25px;
    margin-left: 50px;

}
.righttext p{
    font-size: 13px;
    padding-left: 20px;
}
.righttext h3{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
.main{
    display: flex;
    background-color: gainsboro;
    width: 100%;
    height: 400px;
}
.footer{
    background-color:rgb(54, 51, 51); 
    width: 100%;
    height: 100px;
    
    
} 
.footer p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.image{
    text-align: center;
    padding-top: 10px;
}
